.container-2{
  @include wrapper;
  transition: all 1s ease-in-out; 
}
.about-wrapper{
  width: 90%;
  margin: auto;
  @include flex($alignItems:center,$justifyContent:space-between,$flexDirection:row);
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(153, 151, 151, 0.205);
  background-color: #f5f6f68f;
  .left-section{
    @include flex($alignItems:center,$justifyContent:space-between,$flexDirection:column);
    gap: 3rem;
    margin-left: 10rem;
    
    p{
      @include heading;
      letter-spacing: .1rem;
    }
    img{
      width: 20rem;
    }
  }

  .right-section{
    background-color:rgba(155, 155, 155, 0.288);
    box-shadow: 0px 0px 15px 0px rgba(131, 131, 145, 0.288);
    height: 100%;
    font-size: var(--fs-sm);
    width: 50%;
    @include text-style;
    letter-spacing: .1rem;
    line-height: var(--lh-lg);
    font-weight: 500;
    padding: 8rem 5rem;
    border-radius: .7rem;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    position: relative;
    overflow: hidden;


    .top-shadow,
    .bottom-shadow{
      position: absolute;
      left: 0;
      box-shadow: 0px 0px 107px 39px var(--shadow-cl);
    }
    .bottom-shadow{
      right: 0;
      left: auto;
      bottom: 0;
    }
  }
}


@media screen and (max-width:880px){
  .about-wrapper{
    width: 95%;
  }
}
@media screen and (max-width:760px){
  .about-wrapper {
    flex-direction: column;
    gap: 6rem;
    width: 80%;

    .left-section{
      margin-left: 0rem;
      margin-top: 5rem;
    }

    .right-section{
      width: 100%;
      text-align: center;
    }
  }
}