.main-blog-wrapper {
  @include flex(
    $alignItems: center,
    $justifyContent: center,
    $flexDirection: column
  );
  gap: 2rem;
  width: 100%;

  padding-top: 3rem;
  background-color: var(--primary-cl);
}

.blog-header {
  @include flex(
    $alignItems: center,
    $justifyContent: space-between,
    $flexDirection: row
  );
  width: 90%;
  p,
  a {
    font-size: 3rem;
    font-family: var(--ff-primary);
    color: white;
  }
  a {
    font-size: var(--fs-xs);
    text-decoration: none;
  }
}
.blog-intro {
  @include flex(
    $alignItems: center,
    $justifyContent: center,
    $flexDirection: column
  );
  width: 80%;
  gap: 3rem;
  height: 400px;
  background-color: var(--primary-cl);
  color: white;
  font-family: var(--ff-primary);
  text-align: center;
  @include text-style;
  line-height: var(--lh-md);
  color: white;

  @media screen and (max-width: 800px) {
    h1 {
      line-height: var(--lh-lg);
      font-size: var(--fs-md);
    }
  }
}

.blog-list-container {
  background-color: var(--main-bg);
  width: 100%;

  @include flex(
    $alignItems: center,
    $justifyContent: center,
    $flexDirection: column
  );

  .blog-list {
    margin-top: 2rem;
    padding: 3rem 2rem;
    cursor: pointer;
    box-shadow: 0px 6px 17px 1px var(--shadow-cl);
    border-radius: 0.5rem;
    width: 80%;
    @include flex(
      $alignItems: center,
      $justifyContent: center,
      $flexDirection: row
    );
    gap: 1rem;

    .icons-container {
      @include flex(
        $alignItems: center,
        $justifyContent: center,
        $flexDirection: row
      );
      gap: 2rem;
      font-size: var(--fs-sm);

      .red {
        color: red;
      }
      .green {
        color: green;
      }
    }

    .title {
      text-transform: capitalize;
      font-size: 3rem;
      font-family: var(--ff-primary);
      color: var(--text-cl);
    }

    .body {
      font-size: 2rem;
      font-family: var(--ff-secondary);
      color: var(--text-cl);
    }
    div {
      @include flex(
        $alignItems: flex-start,
        $justifyContent: center,
        $flexDirection: column
      );
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .blog-list-container {
    .blog-list {
      padding: 2rem 1rem;
      width: 95% !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .blog-list-container {
    .blog-list {
      @include flex(
        $alignItems: center,
        $justifyContent: center,
        $flexDirection: column
      );
      div {
        @include flex(
          $alignItems: center,
          $justifyContent: center,
          $flexDirection: column
        );
        .title {
          font-size: var(--fs-sm);
          text-align: center;
        }
        .body {
          font-size: var(--fs-xs);
          text-align: center;
        }
      }
    }
  }
}
.custom {
  border: none !important;
  color: white !important;
  font-size: 1.7rem !important;
  width: 100% !important;
}
