.header-wrapper{
  width: 100%;
  height: 9rem;
  z-index: 10;
  background-color: var(--main-bg);
  @include position($position:fixed,$top:0,$bottom:auto,$left:0,$right:auto);
  @include flex($alignItems:center,$justifyContent:center,$flexDirection:row);

}
.header{
  width: 1180px;
  @include flex($alignItems:center,$justifyContent:space-between,$flexDirection:row);
  height: 5rem;
  font-family: var(--ff-secondary);

  i{
    font-size: var(--fs-md);
    color: var(--ff-secondary);
    cursor: pointer;
    display: none;
  }
}

.header .logo{
  p{
    font-size:3rem;
    color: var(--primary-cl);
  }
}

.header .nav-wrapper{

  ul{
    @include flex($alignItems:center,$justifyContent:space-between,$flexDirection:row);
    gap: 8rem;
    list-style: none;

    li a{
      text-decoration: none;
      font-size: var(--fs-sm);
      color: var(--text-cl);
      transition: .2s;

      &:hover{
        color: var(--primary-cl);
      }

    }

    li:last-child{
      @include button;
      box-shadow: 0px 6px 17px 0px var(--shadow-cl);

      a{
        font-size: 1.6rem;
      }
    }
  }

}

.header .mobile-nav{
  background-color: rgba(32, 32, 32, 0.952);
  height: 100vh;
  width: 100%;
  @include flex($alignItems:center,$justifyContent:center,$flexDirection:column) ;
  @include position($position:fixed,$top:0,$bottom:0,$left:0,$right:auto);
  display: none;
  i{
    @include position($position:absolute,$top:0,$bottom:0,$left:auto,$right:auto);
    margin: 4rem;
    font-size: var(--fs-md);
    cursor: pointer;
    color: white;
  }
  .mobile-link{
    ul{
      @include flex($alignItems:center,$justifyContent:center,$flexDirection:column);
      gap: 5rem;
      list-style: none;
    }
    li a{
      color: white;
      text-decoration: none;
      letter-spacing: .4rem;
      font-size: var(--fs-md);
    }
  }
}
@media screen and (max-width:1440px) {
  .header{
    width: 80%;
  }
}

@media screen and (max-width:880px){
  .header{
    width: 95%;
  }
}

@media screen and (max-width:650px){
  .header{

    .logo{
      p{
        font-size:4rem;
      }
    }
    .nav-wrapper{
      display: none;
    }
   i{
    display: flex;
   }
  }
}