.markdown {
  @include flex(
    $alignItems: flex-start,
    $justifyContent: center,
    $flexDirection: row
  );
  min-height: 100vh;
  position: relative;
  top: 0;
  width: 100%;

  .textarea-conatiner {
    min-width: 500px;
    border: 1px solid;
    background-color: var(--primary-cl);
    padding: 0rem 1rem;
    height: 100%;

    form {
      @include flex(
        $alignItems: flex-start,
        $justifyContent: center,
        $flexDirection: column
      );
      gap: 10px;
    }

    label {
      font-size: 2.5rem;
      color: white;
      margin-bottom: 1rem;
    }
    #title {
      width: 500px;
      height: 5rem;
      font-size: 2rem;
      padding-left: 1rem;
    }
    #body,
    #summary {
      width: 500px;
      resize: none;
      height: 100%;
      font-size: 2rem;
      padding-left: 1rem;
      outline: none;
      border-left: 0.6rem;
    }

    button {
      padding: 1rem 3rem;
      font-size: 1.8rem;
      background-color: rgb(8, 172, 217);
      border: none;
      color: white;
      border-radius: 0.4rem;
      margin-top: 1rem;
      margin-right: 3rem;
      cursor: pointer;
    }
  }
  #body {
    min-height: 100vh;
  }
  #summary {
    min-height: 10rem;
  }
  .show-markdown {
    flex-grow: 1;
    height: 100%;
    font-size: 1.7rem;
  }
}
