.container-4{
  @include wrapper;
  background-color: var(--primary-cl);
  transition: all .5s ease-in-out;
}

.process-wrapper{
  padding: 4rem 0rem;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  @include flex($alignItems:center,$justifyContent:center,$flexDirection:column);
  gap: 6rem;

  .top-section{
    @include flex($alignItems:center,$justifyContent:center,$flexDirection:column);
    gap: 2rem;
    & p:first-child{
      @include heading;
      color: white;
    }
    & p:last-child{
      width: 80%;
      text-align: center;
      @include text-style;
      color: white;
      line-height: var(--lh-md);
    }
  }
}

.process-wrapper {
  .bottom-section{
    @include flex($alignItems:center,$justifyContent:space-between,$flexDirection:row);
    width: 60%;

    & .image{
      position: relative;
      z-index: 2; 

      img{
        width: 30rem;
      }
    } 
  }

  .image:nth-child(1):before{
    @include position($position:absolute,$top:50%,$bottom:auto,$left:auto,$right:-242px);
    content: "";
    width: 38rem;
    height: 0rem;
    border: 2px dashed white;
    z-index: -1;
  }

  .image:nth-child(2):before,
  .image:nth-child(2):after{
    @include position($position:absolute,$top:49%,$bottom:auto,$left:-1rem,$right:auto);
    content: "";
    width: 1rem;
    height: 0rem;
    transform: rotate(226deg);
    border: 2px solid white;
    z-index: -1;
  }

  .image:nth-child(2):after{
    transform: rotate(309deg);
    top: 52%;
  }
}

@media screen and (max-width:1050px) {
  .process-wrapper .bottom-section {
    width: 80%;
  }
}
@media screen and (max-width:880px){
  .process-wrapper{
    width: 95%;
  }
}
@media screen and (max-width:760px){
  .process-wrapper{

    .bottom-section .image{
      img{
        width: 25rem;
      }
    }
  } 
}

@media screen and (max-width:600px) {
  .process-wrapper .bottom-section{
    .image{
      &:nth-child(1):before {
        right: -111px;
        width: 18rem;
      }
      img{
        width: 16rem;
      }
    }
  }
}