.specific-blog-container {
  max-width: 1440px;
  margin: auto;
}
/* header */
.specific-blog-header {
  @include flex(
    $alignItems: center,
    $justifyContent: space-between,
    $flexDirection: row
  );
  background-color: var(--primary-cl);
  color: white;
  padding: 2rem 3rem;

  p {
    font-size: 3.2rem;
    display: flex;
    @include flex(
      $alignItems: center,
      $justifyContent: space-between,
      $flexDirection: row
    );
  }

  div ul {
    @include flex(
      $alignItems: center,
      $justifyContent: space-between,
      $flexDirection: row
    );
    gap: 3rem;
    font-size: var(--fs-sm);

    list-style: none;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

/* specific blog */

.specific-blog {
  @include flex(
    $alignItems: inherit,
    $justifyContent: center,
    $flexDirection: column
  );

  width: 80%;
  margin: auto;
  font-size: 2.3rem;

  p {
    font-size: 2.3rem !important;
    line-height: var(--lh-lg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.9rem;
  }
  h3 {
    font-size: 2.6rem;
  }

  img {
    align-self: center;
  }
}

/* Icons container */
.specific-blog-icons-container {
  @include flex(
    $alignItems: center,
    $justifyContent: center,
    $flexDirection: row
  );
  gap: 1rem;
  font-size: 3rem;
  margin-top: 3rem;
  width: 50px;
  padding: 1rem 6rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px var(--shadow-cl);
  margin: auto;
  i {
    color: var(--primary-cl);
    cursor: pointer;
  }
  .heat-red {
    color: rgb(224, 10, 10);
  }
  p {
    margin-right: 1rem;
  }
}
/* About author */

.about-author {
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  @include flex(
    $alignItems: center,
    $justifyContent: space-between,
    $flexDirection: column
  );
  gap: 2rem;
  .col-1 {
    @include flex(
      $alignItems: center,
      $justifyContent: space-between,
      $flexDirection: row
    );
    gap: 2rem;
    .autho-img {
      width: 130px;
      height: 130px;
      // overflow: hidden;

      img {
        width: 100%;
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
      }
    }
    .upper-text {
      strong {
        font-size: 1.3rem;
        font-weight: 700;
      }
      p {
        font-size: 3rem;
      }
      font-family: var(--ff-primary);
      color: var(--primary-cl);
    }
  }

  .col-2 {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--primary-cl);
    font-family: var(--ff-secondary);
    line-height: var(--lh-md);
  }
}

.modal {
  @include flex(
    $alignItems: center,
    $justifyContent: space-between,
    $flexDirection: column
  );
  position: fixed;
  color: var(--primary-cl);
  font-family: var(--ff-primary);
  top: 50%;
  gap: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px var(--shadow-cl);
  padding: 5rem;
  font-size: 3rem;
  background-color: var(--main-bg);
  .fa-twitter,
  .fa-linkedin {
    color: blue;
    margin-right: 1rem;
    cursor: pointer;
  }
  left: 35%;
  // transform: translate(100%, -31%);
  transform-origin: center;
  animation-name: transformScale;
  animation-duration: 0.5s;
  transform-origin: center;
  opacity: 1;
}

@keyframes transformScale {
  0% {
    // transform: scale(0) translate(200%, -31%);
    opacity: 0; //change this
    // transform-origin: center;
    transform: scale(0);
  }
  100% {
    // transform: scale(1) translate(100%, -31%);
    // transform-origin: center;
    // transform-origin: center;
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .specific-blog {
    img {
      width: 90%;
    }
  }
}
