@mixin flex($alignItems,$justifyContent,$flexDirection) {
  display: flex;
  align-items:$alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}

@mixin position($position,$top,$bottom,$left,$right) {
  position:$position;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin button {
  border: 1px solid var(--btn-bg);
  border-radius: .5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--btn-bg);
  transition: .5s;

  a{
    color: white;
    text-decoration: none;
    letter-spacing: .075rem;
  }

  &:hover{
    background-color: transparent;
    a{
      color: var(--btn-bg);
      font-weight: 800;
    }
  }
}

@mixin wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  // border: 1px solid green;
  margin-top: 10rem;
}

@mixin text-style($fontSize,$fontFamily,$color) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}