@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans&display=swap');

@import './utils.scss';
@import './header.scss';
@import './herobanner';
@import './about';
@import './skills.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-bg:#ECF0F3;
  --btn-bg:#444D54;
  
  --primary-cl:#3F3D56;
  --text-cl:#2e2d2d;

  --shadow-cl:#7c859c;

  --fs-xl:7.5rem;
  --fs-lg:5.5rem;
  --fs-md:5rem;
  --fs-sm:2rem;

  --lh-lg:3.5rem;
  --lh-md:3rem;
  --lh-xs:.1rem;

  --ff-primary: 'Merriweather', serif;
  --ff-secondary: 'Work Sans', sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--main-bg);
  overflow-x: hidden;
  margin-bottom: 3rem;
}

.main-wrapper{
  max-width: 1440px;
  margin: auto;
  // border: 1px solid red;
}