@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans&display=swap");
.header-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 10%;
  right: auto;
  top: auto;
  bottom: auto;
  height: 5rem;
  font-family: var(--ff-secondary);
}

.header .logo p {
  font-size: 2.8rem;
  color: var(--primary-cl);
}

.header .nav-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 8rem;
  list-style: none;
}
.header .nav-wrapper ul li a {
  text-decoration: none;
  font-size: var(--fs-sm);
  color: var(--text-cl);
  transition: 0.2s;
}
.header .nav-wrapper ul li a:hover {
  color: var(--primary-cl);
}
.header .nav-wrapper ul li:last-child {
  border: 1px solid var(--btn-bg);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--btn-bg);
  transition: 0.5s;
  box-shadow: 0px 6px 17px 0px var(--shadow-cl);
}
.header .nav-wrapper ul li:last-child a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.075rem;
}
.header .nav-wrapper ul li:last-child:hover {
  background-color: transparent;
}
.header .nav-wrapper ul li:last-child:hover a {
  color: var(--btn-bg);
  font-weight: 800;
}

.wrapper-1 {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 8rem;
}

.left-shadow {
  position: absolute;
  height: 30rem;
  left: 0;
  top: 3rem;
  box-shadow: 0px 0px 107px 39px var(--shadow-cl);
}

.hero-banner-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.left-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.6rem;
  letter-spacing: 0.1rem;
}
.left-section p:first-child {
  font-weight: 600;
  font-size: var(--fs-lg);
  font-family: var(--ff-primary);
  color: #637471;
}
.left-section p:nth-child(2) {
  font-weight: 600;
  font-size: var(--fs-xl);
  font-family: var(--ff-primary);
  color: var(--primary-cl);
}
.left-section p:nth-child(3) {
  font-weight: 600;
  width: 80%;
  line-height: var(--lh-md);
  font-size: var(--fs-sm);
  font-family: var(--ff-secondary);
  color: var(--text-cl);
}
.left-section button {
  border: 1px solid var(--btn-bg);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--btn-bg);
  transition: 0.5s;
  font-family: var(--ff-secondary);
  margin-top: 2rem;
  box-shadow: 0px 6px 17px 0px var(--shadow-cl);
}
.left-section button a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.075rem;
}
.left-section button:hover {
  background-color: transparent;
}
.left-section button:hover a {
  color: var(--btn-bg);
  font-weight: 800;
}

.right-section img {
  width: 45rem;
}
.right-section .hero-icons {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: row;
  gap: 2rem;
}
.right-section .hero-icons a {
  font-size: 3rem;
  color: var(--primary-cl);
}
.right-section .hero-icons a i {
  box-shadow: 0px 0px 40px 0px #040508;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg:#ECF0F3;
  --btn-bg:#444D54;
  --primary-cl:#242D49;
  --text-cl:#535353;
  --shadow-cl:#7c859c;
  --fs-xl:7.5rem;
  --fs-lg:5.5rem;
  --fs-md:4.5rem;
  --fs-sm:1.6rem;
  --lh-md:3rem;
  --lh-sm:.1rem;
  --lh-xs:.1rem;
  --ff-primary: "Merriweather", serif;
  --ff-secondary: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg);
  overflow-x: hidden;
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
}